<div class="container" *ngIf="hasOutput == true">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Time</th>
        <th>Actions</th>
        <th>Fluents</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let outputslot of currentOutput; index as i">
        <td>{{outputslot.endTime}}</td>
        <td>
          <div *ngFor="let action of currentOutput[i].actions">
            {{action.name}}, {{action.args}}
          </div>
        </td>
        <td>
          <div *ngFor="let fluent of currentOutput[i].fluents">
            {{fluent.type}}, {{fluent.name}}, {{fluent.args}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container" *ngIf="hasOutput == false">
  {{currentDisplayString}}
</div>