<div class='container'>
<br />
<h1>About pyLPS</h1>
<p class='lead'>
Despite the advantages of logic programming, its uptake amongst programmers has not been increasing. LPS (Logic Production Systems) aims to close the gap between logic and imperative programming which might lead to greater takeup of logic programming. We believe that implementing LPS in an imperative language would aid programmers who hope to either use existing imperative libraries, such as graphics libraries, or even combine concepts from the logic and imperative programming paradigms. This report discusses the implementation of pyLPS, a Python library which provides the functionality of LPS. pyLPS includes custom syntax intended to feel familiar to both Prolog and Python programmers. It is capable of solving complex problems such as blocks world, quicksort and river crossing. We show that pyLPS can interact with other Python libraries and give a visualisation example to demonstrate this.
</p>
</div>
